.containerCards{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 50px;
}

@media (max-width: 750px) {
    .containerCards{
        margin-left: 0;
    }
}