.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

.img{
    height: 100%;
    overflow: hidden;
}

.image{
    width: 360px;
    cursor: pointer;
    transition: all .7s ease;
    height: 240px;
  
}

.image:hover{
    transform: scale(1.4);
    transition: all .7s ease;
  
}

.card{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 500px;   
    padding: 10px;
    gap: 25px;
    background: rgba(16, 65, 226, 0.701);
    background: linear-gradient(0deg, rgba(4, 30, 71, 0.968) 3%, rgba(6, 62, 152, 0.934) 35%);
    border-radius:10px ;
    text-align: left; 
    transition: all .2s linear;
}

.card:hover{
    transition: all .2s linear;
    transform: scale(1.08);
  
}



.title{
    font-size: 1.4rem;
    color: #fff;
}

.parrafoContaienr{
    text-align: left;
}

.parrafo{
    color: #c8c6c6;
    font-size: .9rem;
    letter-spacing: .8px;
    font-weight: 600;
}

.price{
    color: #ddddddd3;
}
.btnContainer{
    text-align: center;

}

.btn {
    width: 170px;
    font-size: 1.2rem;
    color: #1b1b1b;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    border: none;
    height: 40px;
}

.btn:active{
      transform: scale(0.9);
  }
