@import url("https://fonts.googleapis.com/css?family=Russo+One|Ubuntu");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Ubuntu', sans-serif;
    
    
 }

 .link {
    color: #090909;
    padding: 0.5em 1.2em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* transition: all .3s; */
    /* box-shadow: 3px 3px 12px #c5c5c5; */
  }
  
  .link:hover {
    border: 1px solid white;
  }
  
  .link:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  }